html {
    height: 100%;
    
}

body {
    background-image: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Raleway', 'Roboto', sans-serif;
    text-align: center;
    line-height: 0.1;
    
}
h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-style: italic;
    font-weight: 100;
}
